*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    --green1: #009b00;
    --white: #ffffff;
    --grey-button: #e2e2e2bb;
    --black: #000000;
    --background1: #f7f7f7dc;
}

body{
    box-sizing: border-box;
    background-color: #ececec;
}

.page_wrapper{
    max-width: 1140px;
    margin: auto;
    background: white;
    min-height: 100vh;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
}

.container{
    max-width: 1140px;
    margin: auto;
}

/* Header */
header{
    padding: 20px;
    background-color: var(--background1);
}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo a{
    text-decoration: none;
    color: var(--black);
}

.header_logo img{
    width: 300px;
    height: 60px;
}

.header_logo span{
    color: var(--green1);
}


.header_menus ul{
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    list-style: none;
    gap: 15px;
    
}

.header_menus li a{
    text-decoration: none;
    color: black;
}

.header_menus li a:hover{
    color: var(--green1);
}

.header_logout a{
    text-decoration: none;
    color: black;
    list-style: none;
}

.header_logout a:hover{
    color: var(--green1);
}

.badge{
    color: red;
}

/* footer */

footer{
    padding: 40px;
    background-color: var(--background1);
}

footer .container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 30px;
}

footer span{
    color: var(--green1);
}

.footer_right_side,
.footer_left_side,
.footer_end_side{
    flex: 1;
}

.footer_right_side,
.footer_end_side{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer_right_side a,
.footer_end_side a{
    text-decoration: none;
    color: var(--black);
}

.footer_right_side a:hover,
.footer_end_side a:hover{
    color: var(--green1);
}

.footer_left_side p{
    margin-top: 15px;
}

.footer_right_side{
    margin-left: 20px;
}

.footer_images img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
