{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pedidos/confirmar_pedido.css' %}">
    <title>Confirmar pedido</title>
</head>
<body>
    <div class="container">
        <div class="back">
            <a href="{% url 'user_menu' %}" class="back_button">← Voltar</a>
        </div>
        <div class="card">
            <div class="image_area">
                {% with produto.imagens.first as img %}
                    {% if img %}
                        <img src="{{ img.imagem.url }}" alt="{{ produto.nome }}">
                    {% else %}
                        <img src="{% static 'accounts/Images/PassaPraFrente_logo.png' %}" alt="Sem imagem">
                    {% endif %}
                {% endwith %}
            </div>
            <div class="info_area">
                <h1>{{ produto.nome }}</h1>
                    <h2>R$ {{ produto.preco }}</h2>
                    <p>{{ produto.descricao }}</p>
                    <p><b>{{ produto.categoria }}</b></p>
                    <p><b>Telefone: </b>{{ produto.vendedor.telefone }}</p>
                    <P><b>Vendedor: </b>{{ produto.vendedor.nickname }}</P>
                    
                    <div class="info_area_buttons">
                        <form method="POST" style="flex: 1">
                            {% csrf_token %}
                            <button type="submit" style="width: 100%">Fazer pedido</button>
                        </form>
                        <form method="POST" action="{% url 'adicionar_carrinho' produto.id %}">
                            {% csrf_token %}
                            <button type="submit" onclick="window.location.href='{% url 'ver_carrinho' %}'" style="width: 100%" class="button_carrinho">Adicionar ao carrinho</button>
                        </form>
                    </div>
            </div>
        </div>
        <div class="galeria">
            {% for img in produto.imagens.all %}
                <a href="{{ img.imagem.url }}" target="_blank">
                    <img src="{{ img.imagem.url }}" class="miniatura">
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>