{% extends 'base.html' %}
{% load static %}
<head>

    <title>{% block title %} Modificar dados do usuário {% endblock %}</title>

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'accounts/modificar_dados.css' %}">
    {% endblock %}

</head>
{% block content %}
<main>
    <div class="container">
        <h1>Dados da conta</h1>
        <p>Veja os dados principais da sua conta ou altere-os</p>

        <div class="box personal_box">
            <div class="box_border"></div>
            <div class="box_title">
                <h2>Informações pessoais</h2>
                <p>Dados atuais da conta</p>
            </div>
            <div class="box_fields">
                <div class="box_field">
                    <h4>Nickname:</h4>
                    <p>{{ request.user.nickname }}</p>
                </div>
                <div class="box_field">
                    <h4>Email:</h4>
                    <p>{{ request.user.email }}</p>
                </div>
            </div>
            <div class="box_field">
                <h4>Telefone:</h4>
                <p>{{ request.user.telefone }}</p>
            </div>
        </div>

        <div class="box modify_box">
            <div class="box_title">
                <h2>Modificar a senha</h2>
                <p>Altere a senha do usuário</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                {% for error in senha_form.non_field_errors %}
                    <p style="color:red">{{ error }}</p>
                {% endfor %}
                <div class="box_field">
                    <h4>Senha atual:</h4>
                    <input type="password" name="old_password" placeholder="Senha atual">
                    {% for error in senha_form.old_password.errors %}
                        <p style="color:red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="box_fields">
                    <div class="box_field">
                        <h4>Nova senha:</h4>
                        <input type="password" name="new_password1" placeholder="Nova senha">
                        {% for error in senha_form.new_password1.errors %}
                            <p style="color:red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="box_field">
                        <h4>Confirme a nova senha:</h4>
                        <input type="password" name="new_password2" placeholder="Confirme a senha">
                        {% for error in senha_form.new_password2.errors %}
                            <p style="color:red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="box_desc">
                    <p>A senha deve conter pelo menos 8 caracteres, 1 letra maiúscula e um símbolo</p>
                </div>
                <div class="box_button">
                    <button type="submit" name="salvar_senha">Mudar a senha</button>
                </div>
            </form>
        </div>

        <div class="box modify_box">
            <div class="box_title">
                <h2>Modificar o telefone</h2>
                <p>Altere o telefone do usuário</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="box_fields">
                    <div class="box_field">
                        <h4>Telefone atual:</h4>
                        <p>{{ request.user.telefone }}</p>
                    </div>
                    <div class="box_field">
                        <h4>Novo telefone:</h4>
                        <input type="tel" name="telefone" placeholder="Novo número de telefone">
                        {% for error in telefone_form.telefone.errors %}
                            <p style="color:red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="box_desc">
                    <p>Exemplo: (81)93475-9384</p>
                </div>
                <div class="box_button">
                    <button type="submit" name="salvar_telefone">Mudar o telefone</button>
                </div>
            </form>
        </div>

        <div class="box modify_box">
            <div class="box_title">
                <h2>Modificar o nickname</h2>
                <p>Altere o nickname do usuário</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="box_fields">
                    <div class="box_field">
                        <h4>Nickname atual:</h4>
                        <p>{{ request.user.nickname }}</p>
                    </div>
                    <div class="box_field">
                        <h4>Novo nickname:</h4>
                        <input type="text" name="nickname" placeholder="Insira o novo nickname">
                        {% for error in nickname_form.nickname.errors %}
                            <p style="color:red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="box_button">
                    <button type="submit" name="salvar_nickname">Mudar o nickname</button>
                </div>
            </form>
        </div>

        <div class="box delete_box">
            <div class="box_title">
                <h2>Deletar o usuário</h2>
                <p>Encerre a conta do usuário</p>
            </div>
            <div class="box_button">
                <a href="{% url 'deletar_conta' %}">
                    <button type="button" class="delete"><b>Deletar a conta</b></button>
                </a>
            </div>
        </div>

    </div>
</main>
{% endblock %}