{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/menu.css' %}">
    <title>Menu inicial</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header_menu">
                <div class="header_logo">
                    <h1>Passa <span>Pra</span> Frente</h1>
                </div>
                <div class="header_menus">
                    <nav>
                        <ul>
                            <li><a href="">Minha conta</a></li>
                            <li><a href="{% url 'meus_produtos' %}">Meus produtos</a></li>
                            <li><a href="{% url 'meus_pedidos' %}">Meus pedidos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>    

    <section class="menu">
        <div class="container">
            <div class="menu_main">
                <div class="menu_title"><h1>Compra e Venda entre estudantes da UFRPE</h1></div>
                <p>Encontre produtos ou venda seus produtos usados em um lugar mais fácil</p>
                <div class="menu_buttons">
                    <button onclick="window.location.href='{% url 'registrar_venda' %}'">Anunciar produto</button>
                    <button>Ver categorias</button>
                </div>
            </div>
        </div>
    </section>

    <section class="categoria">
        <div class="container">
            <div class="categorias_header">
                <h2>Categorias</h2>
                <a href="">Ver todas</a>
            </div>
            <div class="categorias_box">
                <a href="">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/tela-do-laptop.png' %}" alt="Eletrônicos logo">
                        <p>Eletrônicos</p>
                    </div>
                </a>

                <a href="">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/bola.png' %}" alt="Esportes logo">
                        <p>Esportes</p>
                    </div>
                </a>

                <a href="">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/pilha-de-livros.png' %}" alt="Livros logo">
                        <p>Livros</p>
                    </div>
                </a>

                <a href="">
                    <div class="categoria_box">
                            <img src="{% static 'accounts/Images/camiseta.png' %}" alt="Roupas logo">
                            <p>Roupas</p>
                    </div>
                </a>

                <a href="">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/gabinete.png' %}" alt="Móveis logo">
                        <p>Móveis</p>
                    </div>
                </a>

                <a href="">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/brigadeiro.png' %}" alt="Comidas logo">
                        <p>Comidas</p>
                    </div>
                </a>

                <a href="">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/configuracao.png' %}" alt="Utilidades logo">
                        <p>Utilidades</p>
                    </div>
                </a>

                <a href="">
                <div class="categoria_box">
                    <img src="{% static 'accounts/Images/acessorios.png' %}" alt="acessorios logo">
                    <p>Acessórios</p>
                </div>
                </a>
            </div>
        </div>
    </section>

    <main>
        <div class="container">
            <div class="main_title"><h2>Todos os produtos</h2></div>
            <div class="main_produtos">
                {% for produto in produtos %}

                    <a href="{% url 'fazer_pedido' produto.id %}">
                        <div class="main_produto">

                            {% if produto.imagem %}
                                <img src="{{ produto.imagem.url }}" alt={{ produto.nome }}>
                            {% else %}
                                <img src="{% static 'accounts/Images/PassaPraFrente_logo.png' %}" alt="Sem imagem">
                            {% endif %}

                            <div class="main_desc">
                                <h3>{{ produto.nome }}</h3>
                                <p>R${{ produto.preco }}</p>
                                <p><b>Vendedor: </b>{{ produto.vendedor.nickname }}</p>
                            </div>

                        </div>
                    </a>

                {% empty %}
                    <p>Nenhum produto está disponível no momento</p>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="footer_left_side">
                <h3>Passa <Span>Pra</Span> Frente</h3>
                <p>Marketplace universitário da Universidade Federal Rural de Pernambuco(UFRPE), compra e venda de itens de forma facilitada.</p>
            </div>
            <div class="footer_right_side">
                <h3>Acesso rápido</h3>
                <a href="">Home</a>
                <a href="">Categorias</a>
                <a href="{% url 'registrar_venda' %}">Vender</a>
                <a href="{% url 'meus_pedidos' %}">Minhas compras</a>
            </div>
            <div class="footer_end_side">
                <h3>Contato e suporte</h3>
                <a href="">Código-fonte</a>
                <a href="">Email de contato</a>
                <div class="footer_images">
                    <a href=""><img src="{% static 'accounts/Images/e-mail.png' %}" alt="email logo"></a>
                    <a href=""><img src="{% static 'accounts/Images/github.png' %}" alt="Github logo"></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>