{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<head>

    <title>{% block title %} Menu inicial {% endblock %}</title>

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'accounts/menu.css' %}">
    {% endblock %}

</head>
<body>
    <header>
        <div class="container">
            <div class="header_menu">
                <div class="header_logo">
                    <a href="{% url 'user_menu' %}"><h1>Passa <span>Pra</span> Frente</h1></a>
                </div>
                <div class="header_menus">
                    <nav>
                        <ul>
                            <li><a href="{% url 'modificar_nickname' %}">Minha conta</a></li>
                            <li><a href="{% url 'meus_produtos' %}">Meus produtos</a></li>
                            <li><a href="{% url 'meus_pedidos' %}">Meus pedidos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>    

    <section class="menu">
        <div class="container">
            <div class="menu_main">
                <div class="menu_title"><h1>Compra e Venda entre estudantes da UFRPE</h1></div>
                <p>Encontre produtos ou venda seus produtos usados em um lugar mais fácil</p>
                <div class="menu_buttons">
                    <button onclick="window.location.href='{% url 'registrar_venda' %}'">Anunciar produto</button>
                    <button onclick="window.location.href='{% url 'todas_categorias' %}'">Ver categorias</button>
                </div>
            </div>
        </div>
    </section>

    <section class="categoria">
        <div class="container">
            <div class="categorias_header">
                <h2>Categorias</h2>
                <a href="{% url 'todas_categorias' %}">Ver todas</a>
            </div>
            <div class="categorias_box">
                <a href="{% url 'categoria' 'Eletrônicos' %}">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/tela-do-laptop.png' %}" alt="Eletrônicos logo">
                        <p>Eletrônicos</p>
                    </div>
                </a>

                <a href="{% url 'categoria' 'Esportes' %}">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/bola.png' %}" alt="Esportes logo">
                        <p>Esportes</p>
                    </div>
                </a>

                <a href="{% url 'categoria' 'Livros' %}">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/pilha-de-livros.png' %}" alt="Livros logo">
                        <p>Livros</p>
                    </div>
                </a>

                <a href="{% url 'categoria' 'Roupas' %}">
                    <div class="categoria_box">
                            <img src="{% static 'accounts/Images/camiseta.png' %}" alt="Roupas logo">
                            <p>Roupas</p>
                    </div>
                </a>

                <a href="{% url 'categoria' 'Móveis' %}">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/gabinete.png' %}" alt="Móveis logo">
                        <p>Móveis</p>
                    </div>
                </a>

                <a href="{% url 'categoria' 'Comidas' %}">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/brigadeiro.png' %}" alt="Comidas logo">
                        <p>Comidas</p>
                    </div>
                </a>

                <a href="{% url 'categoria' 'Utilidades' %}">
                    <div class="categoria_box">
                        <img src="{% static 'accounts/Images/configuracao.png' %}" alt="Utilidades logo">
                        <p>Utilidades</p>
                    </div>
                </a>

                <a href="{% url 'categoria' 'Acessórios' %}">
                <div class="categoria_box">
                    <img src="{% static 'accounts/Images/acessorios.png' %}" alt="acessorios logo">
                    <p>Acessórios</p>
                </div>
                </a>
            </div>
        </div>
    </section>

    <main>
        <div class="container">
            <div class="main_title"><h2>Todos os produtos</h2></div>
            <div class="main_produtos">
                {% for produto in produtos %}

                    <a href="{% url 'fazer_pedido' produto.id %}">
                        <div class="main_produto">

                            {% if produto.imagem %}
                                <img src="{{ produto.imagem.url }}" alt={{ produto.nome }}>
                            {% else %}
                                <img src="{% static 'accounts/Images/PassaPraFrente_logo.png' %}" alt="Sem imagem">
                            {% endif %}

                            <div class="main_desc">
                                <h3>{{ produto.nome }}</h3>
                                <p>R${{ produto.preco }}</p>
                                <p><b>Vendedor: </b>{{ produto.vendedor.nickname }}</p>
                            </div>

                        </div>
                    </a>

                {% empty %}
                    <p>Nenhum produto está disponível no momento</p>
                {% endfor %}
            </div>
        </div>
    </main>

    {% endblock %}