*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;  
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1f6f43, #2d8f5a);
    height: 100vh;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
<<<<<<< HEAD
=======
    padding: 15px 0px;
>>>>>>> readme
    background: #eaeaea;
    padding: 15px 0px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    margin-top: 10px;
    font-size: 20px;
}

input{
    margin-top: 8px;
    width: 100%;
    padding: 12px;
    border: 1ps solid #ccc;
    border-radius: 10px;
    height: 10px;
}

.cadastro{
    margin-top: 10px;
    margin-left: 15px;
}

button{
    padding: 15px 40px;
    background-color: #1f6f43;
    color: white;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    border: none;
}

button:hover{
    background-color: #175735;
}

/* django/python */

.error_message {
    margin-top: 15px;
    background-color: #ffe5e5;
    color: #d60000;
    border: 1px solid #ffb3b3;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}