*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    --green1: #009b00;
    --green2: #01bb01;
    --red: #ff0000;
    --background1: #f5f5f5;
    --blue-button: #007bff;
}

body{
    background: var(--background1);
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* main */

.back{
    align-self: flex-start;
    margin-bottom: 15px;
}

.back_button{
    display: inline-flex;
    gap: 8px;
    padding: 10px 18px;
    background: white;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-weight: 600;
    transition: .2s;
}

.back_button:hover{
    background: #f5f5f5;
    transform: translateX(-3px);
}

.card{
    width: 100%;
    max-width: 1100px;
    background: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.image_area{
    background: #ececec;
}

.image_area img{
    width: 530px;
    height: 530px;
    object-fit: cover;
}

.info_area{
    width: 50%;
    padding: 40px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.info_area h1{
    margin-bottom: 30px;
    font-size: 40px;
}

.info_area h2{
    color: var(--green1);
    font-size: 33px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
    font-weight: bold;
}

.info_area_buttons{
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

button{
    padding: 16px;
    border: none;
    background: var(--green1);
    color: white;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: var(--green2);
    opacity: 0.9;
}

.button_carrinho{
    padding: 16px;
    border: none;
    background: var(--blue-button);
    color: white;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.button_carrinho:hover{
    background: #0056b3;
}

/* Galeria imagens */

.galeria{
    width: 100%;
    max-width: 1100px;

    margin-top: 20px;

    display: flex !important;
    flex-direction: row !important;
    gap: 12px;

    overflow-x: auto;
}

.miniatura{
    width: 100px;
    height: 100px;

    flex-shrink: 0;

    object-fit: cover;

    border-radius: 10px;
    border: 1px solid #ddd;

    transition: .2s;
}

.miniatura:hover{
    transform: scale(1.05);
    border-color: #22c55e;
}